.trendingCardMainContainer{
    /* border: 2px solid blue; */
    display: flex;
    margin-top: 1rem;
    height:90%;
    justify-content: space-between;
}
.cardContainer{
    /* border: 2px solid red; */
    width: 16%;
    height: 100%;
   display: flex;
   flex-direction: column;
   text-align: center;
   position: relative;

}
.cardContainer:hover{
    background-color: #1f1f1f;
    cursor: pointer;
}
.cardContainer img{
    width: 94%;
    height: 60%;
    border-radius: 10px;
    
}

.CardTextContainer{
    /* border: 2px solid green; */
    width:100%;
    margin-top:10px ;
}
.CardTextContainer h2{
     font-size:1rem;
}

.CardTextContainer p{
font-size: 0.8rem;
}

#playButton1{
background-color: rgb(87, 255, 87);
height:30px;
width: 30px;
border-radius: 50%;
display:flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 20px;
right: 20px;
display: none;
}
.cardContainer:hover #playButton1{
    display: flex;
}

#playButton1 svg{
    height: 70%;
    height: 70%;
}